h1{
  font-family: bold;
  font-size: 0.8 rem;
}
p{
  font-size: 0.7 rem;
}

ion-badge{
  font-weight: 300;
  font-size: 0.6rem;
  margin-right: 3px;
}

ion-icon {
  font-size: 100px;
  color: #dcdcdc;
}
