<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card  class="ion-text-center" color="dark">
      <ion-icon name="videocam" class="ion-text-center" style="font-size: 60px"></ion-icon>
      <ion-card-title>Vídeos App</ion-card-title>
      <ion-item lines="none" color="dark">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none" color="dark">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="login()" fill="outline" color="light">Entrar</ion-button>
      <ion-button expand="full" fill="clear" color="light">Registrar</ion-button>
    </ion-card>
  </div>
</ion-content>
